* {
    padding: 0;
    margin: 10px;
}

.box {
    width: fit-content;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-right: 30px;
    margin: 10px;
    border: none;
    background-color: rgb(215, 230, 230);
    text-align: center;
    align-items: center;
    display: flex;
     flex-direction: column;
}

.rate {
    width: 50px;
    height: 50px;
    font-style: italic;
    padding: 15px;
    font-size: 32px;
    color: rgb(17, 90, 119);
    border: solid rgb(64, 93, 156);
    border-radius: 200px;
    align-self: center;
    display: block;
    margin: 0 auto;
}

.name {
    font-weight: bold;
}

.des {
    font-weight: lighter;
    color: rgb(133, 132, 132);

}

.button{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(190, 190, 235);
    width: fit-content;
}
.button:hover{
    background-color: rgb(173, 223, 223);
    color: white;
}