* {
    padding: 0;
    margin: 10px;
}

.box {
    width: 350px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-right: 30px;
    margin: 10px;
    border: none;
    background-color: rgb(226, 238, 238);
    text-align: center;
    flex-direction: column;
}

.rate {
    width: 80px;
    height: 80px;
    font-style: italic;
    font-size: 32px;
    color: rgb(17, 90, 119);
    border: solid 2px rgb(64, 93, 156);
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    font-weight: bold;
}

.des {
    font-weight: lighter;
    color: rgb(133, 132, 132);

}

.button{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(41, 41, 42);
    width: fit-content;
    margin-left: 20px;
}
.button:hover{
    background-color: rgb(167, 169, 142);
    color: white;
}

